body {
    width: 40%;
    margin: auto;
    
  }



  table {
    border: 1px solid rgb(156, 97, 20);
    border-collapse: collapse;
    text-align: center; 
    margin: auto;
    width: 80%;
}

.events {
    width: 40%;
  /*   border: 1px solid black; ctrl+slash */
    margin: auto;
  }

